<% include ../../../../partials/header %>
<title>Concert Artist Management</title>
</head>
<% include ../../../../partials/nav %>

<div class="container">
    <div class="jumbotron">
            <div class="row">
                    <div class="col mx-5">
                        <h1 class="display-4 mx-5">Add Concert Artist</h1>
                        <hr>
                        <div class="form-group row mx-4 my-5">
                                <label for="ticketrecieve" class="col-sm-3 ml-5 col-form-label">Search Concert</label>
                                <div class="col-sm-6">
                        <form action="/admin/concert-artist/new" method="POST">
                            <select name="search" id="dropdown" class="form-control selectpicker"
                                data-live-search="true" required>
                                <option value="" disabled selected>--Please Select your option</option>
                                <% search.forEach(function(item){ %>
                                    <option value="<%= item.Concert_Name %>" > <%= item.Concert_Name  %> </option>
                                <% }) %>
                            </select>
                            </select>
                            </div>
                        <button class="btn btn-success">Search</button>
                    </div>
                    </div>
                </form>
                </div>

        <% if (concert && concert != "none") { %>
        <form action="/admin/concert-artist/new/insert" method="POST">
            <div class="container my-5" id="find">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Concert <b><%= concert.Concert_Name %></b></h2>
                                <input type="hidden" name="concertID" value="<%= concert.Concert_ID %>" >
                            </div>
                            <!--- 3.52AM modify button --->
                            <div class="col-sm-4 mx-auto" style="left: 55px">
                                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add
                                    New</button>
                            </div>
                            <!--- /3.52AM --->
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th>Artist</th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                <select name="dropdown" id="dropdown" class="form-control">
                                    <% artist.forEach(function(item){ %>
                                    <option value="<%= item.Artist_ID %>" > <%= item.Artist_Name %></option>
                                    <% }) %>
                                </select>
                                </td>

                                <td>
                                    <a class="add" title="Add" data-toggle="tooltip"><i
                                            class="material-icons">&#xE03B;</i>
                                        <a class="delete" title="Delete" data-toggle="tooltip" style="margin-left:26px;
                                        margin-top:7px;"><i
                                                class="material-icons">&#xE872;</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--- 3.52AM modify button --->
                    <div class="col-3 align-self-end" style="left: 650px">
                        <button class="btn btn-success text-center align-self mx-3 " type="submit">Submit</button>
                    </div>
                    <!--- /3.52AM --->
                </div>
            </div>
            <% } else if(concert == "none") {%>
            <p> NONE</p>
            <% } %>
    </div>
</div>


<% include ../../../../partials/footer %>