<% include ../../../partials/header %>
<title>Concert Showtime </title>
</head>
<% include ../../../partials/nav %>

<div class="container">
    <div class="jumbotron">
            <div class="row">
                    <div class="col mx-5">
                        <h1 class="display-4 mx-5">Edit Concert Show Time</h1>
                        <hr>
                        <div class="form-group row mx-4 my-5">
                                <label for="ticketrecieve" class="col-sm-3 ml-5 col-form-label">Search Concert</label>
                                <div class="col-sm-6">
                        <form action="/admin/concert-showtime/edit" method="POST">
                            <select name="search" id="dropdown" class="form-control selectpicker"
                                data-live-search="true">
                                <% search.forEach(function(item){ %>
                                    <% if (showtime && concertName == item.concert_Name) {%>
                                    <option value="<%= item.Concert_Name %>" selected> <%= item.Concert_Name  %> </option>
                                    <% } else { %>
                                <option value="<%= item.Concert_Name %>"> <%= item.Concert_Name  %> </option>
                                <% } %>
                                <% }) %>
                            </select>
                            </div>
                        <button class="btn btn-success">Search</button>
                    </div>
                    </div>
                </form>
                </div>


        <% if (showtime && showtime != "none") { %>
        <form action="/admin/concert-showtime/edit?_method=PUT" method="POST">
            <div class="container my-5" id="find">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Concert <b><%= concertName %></b></h2>
                                <input type="hidden" name="concertID" value="<%= showtime.Concert_ShowTime_ID %>">
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Concert Showtime ID</th>

                                <th>Show Date</th>

                                <th>Show Time</th>

                                <th>Seating Plan</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% showtime.forEach(function(item){ %>
                            <tr>
                                <td>
                                    <label for="concertname"
                                        class="col-sm-2 col-form-label"><%= item.Concert_ShowTime_ID %></label>
                                    <input type="hidden" name="concertShowtimeID" 
                                        value="<%= item.Concert_ShowTime_ID %> ">
                                </td>
                                <td>
                                    <input class="form-control" data-date-format="yyyy-mm-dd" id="datepicker" name="date" value="<%= item.Concert_ShowDate %>">
                                </td>

                                <td>
                                    <input type="text" class="form-control" name="time" id="timepicker" value="<%= item.Concert_ShowTime %>" />
                                </td>

                                <td>
                                    <input type="text" name="plan" value="<%= item.Concert_ShowTime_Plan %>" style="width: 70px">
                                </td>

                                
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <!--- 3.52AM Modify button --->
                    <div class="col align-self-end">
                        <div class="row">
                            <div class="col text-right">
                                    <button class="btn btn-outline-warning text-center align-self mx-3 " type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                    <!--- /3.52AM --->
                </div>
            </div>
            <% } else if(showtime == "none") {%>
            <p>  This concert doesn't has show time</p>
            <% } %>
    </div>
</div>

<% include ../../../partials/footer %>