<% include ../../../partials/header %>
<title>Concert Artist Management</title>
</head>
<% include ../../../partials/nav %>

<div class="container">
    <div class="jumbotron">
        <form action="/admin/concert/<%= concert.Concert_ID %>/new" method="POST">
            <div class="container my-5" id="find">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Concert <b><%= concert.Concert_Name %></b></h2>
                                <input type="hidden" name="concertID" value="<%= concert.Concert_ID %>" >
                            </div>
                            <!--- 3.52AM modify button --->
                            <div class="col-sm-4 mx-auto" style="left: 55px">
                                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add
                                    New</button>
                            </div>
                            <!--- /3.52AM --->
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th>Artist</th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                <select name="dropdown" id="dropdown" class="form-control">
                                    <% artist.forEach(function(item){ %>
                                    <option value="<%= item.Artist_ID %>" > <%= item.Artist_Name %></option>
                                    <% }) %>
                                </select>
                                </td>

                                <td>
                                    <a class="add" title="Add" data-toggle="tooltip"><i
                                            class="material-icons">&#xE03B;</i>
                                        <a class="delete" title="Delete" data-toggle="tooltip" style="margin-left:26px;
                                        margin-top:7px;"><i
                                                class="material-icons">&#xE872;</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--- 3.52AM modify button --->
                    <div class="col-3 align-self-end" style="left: 450px">
                        <button class="btn btn-success text-center align-self mx-3 " type="submit">Submit</button>
                    </div>
                    <!--- /3.52AM --->
                </div>
            </div>
    </div>
</div>


<% include ../../../partials/footer %>