<% include ../../../partials/header %>
    <title>Concert Artist Management</title>
</head>
<% include ../../../partials/nav %>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col mx-5">
                <h1 class="display-4 mx-5">Edit Concert</h1>
                <hr>
                    <div class="form-group row mx-4 my-5">
                        <label for="ticketrecieve" class="col-sm-3 ml-5 col-form-label">Search Concert</label>
                        <div class="col-sm-6">
                                <form action="/admin/concert/edit" method="POST">
                            <select name="dropdown" id="dropdown" class="form-control selectpicker"
                                data-live-search="true" required>
                                <option value="" disabled selected>--Please Select Your Option --</option>
                                <% search.forEach(function(item){ %>
                                    <option value="<%= item.Concert_Name %>" > <%= item.Concert_Name  %> </option>
                                <% }) %>
                            </select>
                        </div>
                        <button class="btn btn-success">Search</button>
                        </form>
                        </div>
            </div>

        </div>
        <% if (concert && concert != "none") { %>
        <form action="/admin/concert/edit?_method=PUT" method="POST">    
        <div class="container my-5" id="find">
            <div class="col mx-5">
                <div class="form-group row mx-4">
                        <input type="hidden" class="form-control" id="concertname" name="concertID" value="<%=concert.Concert_ID%>">
                    </div>
                </div>
                <div class="form-group row mx-4">
                    <label for="concertname" class="col-sm-2 col-form-label">Concert Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="concertname" name="concertName" value="<%=concert.Concert_Name%>">
                    </div>
                </div>
                <div class="form-group row mx-4">
                    <label for="date" class="col-sm-2 col-form-label">Sales Date</label>
                    <div class="col-sm-5">
                        <input class="form-control" data-date-format="dd/mm/yyyy" id="datepicker" name="date" value="<%=concert.Concert_Sales_Date%>">
                    </div>

                </div>
                <div class="form-group row mx-4">
                    <label for="time" class="col-sm-2 col-form-label">Time</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="timepicker" name="time" value="<%=concert.Concert_Sales_Time %>">
                    </div>
                </div>
                <div class="form-group row mx-4">
                    <label for="vanue" class="col-sm-2 col-form-label">Venue</label>
                    <div class="col-sm-5">
                        <select name="venue" class="form-control form-control">
                                <% venue.forEach(function(item){ %>
                                    <% if(  currentVenue.Venue_Name  ==  item.Venue_Name ){ %>
                                        <option value="<%= concert.Venue_ID %>" selected> <%= item.Venue_Name %></option>
                                    <% } else { %>
                                        <option value="<%= item.Venue_ID %>"> <%= item.Venue_Name %> </option>
                                    <% } %>
                                    <% }) %>
                        </select>
                    </div>
                </div>

                <div class="form-group row mx-4">
                    <label for="detail" class="col-sm-2 col-form-label">Concert Detail</label>
                    <div class="col-sm-5">
                        <textarea name="" id="detail" class="form-control" cols="30" rows="3" name="detail" value="<%=concert.Concert_Detail%>"></textarea>
                    </div>
                </div>
                <!--- 3.52AM Add poster link modify button --->
                <div class="form-group row  mx-4">
                    <label for="image" class="col-sm-2 col-form-label">Poster</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="image" name="poster" value="<%=concert.Concert_Poster%>">
                    </div>



                </div>
                <div class="form-group row  mt-auto">
                    <div class="col-7"></div>
                    <div class="col-3 mx-5 align-self-end" style="right: 115px">
                        <button type="submit" class="btn btn-outline-info">Edit</button>
                        <a href="/admin/concert/delete/<%= concert.Concert_ID %>" class="btn btn-outline-danger">Delete</a>
                    </div>
                <!--- /3.52 --->
                </div>
            </div>
        </div>
        <% } else if(concert == "none") {%>
            <p> NONE</p>
        <% } %>
    </div>
</div>

<!-- Optional JavaScript -->
<script>
    document.body.className = 'fade';
</script>
<script>
    document.addEventListener("DOMContentLoaded", function (e) {
        document.body.className = '';
    });
</script>
<script src="/smoothscoll.js"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<!--datepicker-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
<!--timepicker-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script>
    $('#timepicker').timepicker({
        uiLibrary: 'bootstrap4'
    });
</script>
</body>
</html>