<% include ../../partials/userheader %>
<title>Concert </title>
</head>
<% include ../../partials/usernav %>
<body>  
    <div class="container" style="background: whitesmoke; margin-top: 40px; border-radius: 25px ">
        <div class="row">
            <div class="col-5">
                <img src="<%= concert[0].Concert_Poster %>" class="img-fluid m-3 mx-5" alt="" style="padding-left: 150px; width: 450px; height: 450px;">
            </div>
            <div class="col-6">
                <div class="row">
                        <div class="col-12">
                                <h1 class="display-5 my-3 text-center" style="color: black;"><strong><%= concert[0].Concert_Name %></strong></h1>
                                <hr style="margin-left: 30px">
                        </div>
                </div> 
                <div class="row mt-4" style="margin-left: 40px">
                    <% concert.forEach(function(item) { %>

                    <div class="col-7" >
                        <label for="" ><img src="https://image.flaticon.com/icons/svg/61/61469.svg" class="text-center ml-4" width="20px" alt=""></label>
                        <label for="" class="text-center"  ><%= item.Concert_ShowDate %></label>
                    </div>
                    <div class="col-5 border-left" >
                            <label for="" ><img src="https://image.flaticon.com/icons/svg/66/66403.svg" class="text-center  ml-4" width="20px" alt=""></label>
                            <label for="" class="text-center"><%= item.Concert_ShowTime %></label>
                    </div>
                    <% }) %>
                </div>
                <div class="row mt-1">
                    <div class="col" style="margin-left: 80px">
                            <label for="" ><img src="https://image.flaticon.com/icons/svg/125/125805.svg" class="text-center " width="20px" alt=""></label>
                            <label for="" class="text-center" ><%= venue.Venue_Name %></label>
                    </div>
                </div>
                
                <div class="row mt-1">
                        <% artist.forEach(function(item) { %>
                        <div class="col-6" style="margin-left: 30px">
                                <label for="" ><img src="https://image.flaticon.com/icons/svg/1844/1844092.svg" class="text-center mr-2 ml-5" width="20px" alt=""></label>
                                <label for="" class="text-center"><%= item.Artist_Name %></label>
                        </div>
                        <% }) %>
                    </div>

                    <div class="row mt-1">
                            <div class="col" style="margin-left: 80px">
                                    <label for="" ><img src="" class="text-center " width="20px" alt=""></label>
                                    <label for="" class="text-center" >Sales Time : <%= concert[0].Concert_Sales_Time %> <%= salesdate  %> </label>
                            </div>
                        </div>
                   
                    <% if(comingSoon) { %>
                        <div class="row my-4">
                                <div class="col text-center">
                                        <a type="button" class="btn btn-warning mb-2"style="width: 70%; margin-left: 40px">Coming Soon</a>
                                </div>
                            </div>
                        <% } else {%>
                    <div class="row my-4">
                        <div class="col text-center" >
                                <a href="/concert/<%= name %>/showtime" type="button" class="btn btn-danger mb-2" style="width: 70%; margin-left: 40px">BUY TICKET</a>
                        </div>
                    </div>
                    <%  } %>

                
                
            </div>
        </div>
    </div>
        <div class="row mt-5" style="margin-bottom: 2%">
                <div class="col-1"></div>
                <div class="col">
                    <h2 class="dispaly-1">Detail</h2>
                </div>
            </div>
        <div class="form-group row mx-5" >
               
            <br>
            <textarea readonly class="col-xl form-control" rows="70" disabled id="phone" style="background-color: white; border: 0ch ">
            <%= concert[0].Concert_Detail %></textarea>            
        </div>
 
    
    
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>


</body>

</html>