<% include ../../partials/userheader %>
<title>Concert </title>
</head>
<% include ../../partials/usernav %>

<div class="container-fluid" style="background: whitesmoke;">
    <div class="row">
        <div class="col-4">
            <img src="https://images.unsplash.com/photo-1558930320-8fcc4e3e2a6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                class="img-fluid m-3 mx-5" width="300px" alt="">
        </div>
        <div class="col-6">
            <form action="/concert/<%=name %>/showtime" method="POST">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-5 my-3 mx-4" style="color: black;"><strong>Blackpink</strong></h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group row ">
                        <div class="col-4">
                            <label for="ticketrecieve" class="col col-form-label">Venue</label>
                        </div>

                        <div class="col">
                            <label for="ticketrecieve" class="col col-form-label"><%= venue.Venue_Name %></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group row ">
                        <div class="col-4">
                            <label for="ticketrecieve" class="col col-form-label">Concert Showtime</label>
                        </div>

                        <div class="col">
                            <select onchange=round_change(); name="showtime" class="form-control" id="showtime">
                                <option>--Please Select Showtime--</option>
                                <% concert.forEach(function(item){ %>
                                        <% if(selectedShowtime == item.Concert_ShowTime_ID) {%>
                                            <option value="<%=item.Concert_ShowTime_ID %>" selected><%=item.Concert_ShowDate %>
                                        <% } else {%>
                                            <option value="<%=item.Concert_ShowTime_ID %>"><%=item.Concert_ShowDate %>
                                        <% } %>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<% if(selectedShowtime) { %>
<div class="container my-5">
    <div class="row">
        <div class="col text-center">
                <label for="ticketrecieve" class="col col-form-label" id=""></label>
            <img src="https://www.asiaworld-expo.com/assets/img/BP_web-map-Rev-10b-da6ffd497d.png" alt="">
        </div>
    </div>

    <div class="form-group row my-5 mx-5">
        <div class="col-1">
            <label for="zone" class="col col-form-label">Zone</label>
        </div>
        <div class="col-4"><select name="zoneNumber" class="form-control" id="zone" onchange=zone_change();>
                <option>--Please Select Showtime--</option>
                <% zoneInfo.forEach(function(item){ %>
                    <option value="<%= item.Zone_Name %>"><%= item.Zone_Name %></option>
                <% }) %>
            </select>
        </div>
        <div class="col mx-5">
            <label class="btn btn-outline-primary" data-toggle="popover" id="concert">Seats Available</label>
        </div>
    </div>
    <!-- loaded popover content -->
    <div id="popover-content-concert" class="hide d-none" >
        <ul class="list-group" id="available">
            <li class="list-group-item text-center"><strong>   Zone  :  Seats Avaiable</strong></li>
            <% zoneInfo.forEach(function(item){ %>
                <li class="list-group-item text-center"><strong><%= item.Zone_Name %>  :  <%= item.Avaiable %></strong></li>
            <% }) %>
        </ul>
    </div>

    <% } %>

    <div class="form-group row  mt-auto">
        <div class="col-8"></div>
        <div class="col-3 text-center">
            <a href="#"  id="nextLink" class="btn btn-primary text-right align-self" type="submit">Select</a>
        </div>

    </div>
<script>
        function round_change() {
            var showtime = document.getElementById("showtime").value;
            console.log(showtime);
            // document.getElementById('csID').innerHTML = showtime;
            var name = JSON.parse('<%-JSON.stringify(name)%>');
            var link = "/concert/" + name + "/showtime/" + showtime;
            window.location.href = link;
        }
        function zone_change() {
            console.log("Check");
            var name = JSON.parse('<%-JSON.stringify(name)%>');
            var zoneName = document.getElementById('zone').value;
            console.log(zoneName);
            var showtimeID = document.getElementById('showtime').value;
            var link = "/concert/" + name + "/showtime/" + showtimeID + "/" + zoneName;
            $("a").attr("href", link)
        }
    </script>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<!-- Popover -->
<script>
    $("[data-toggle=popover]").each(function (i, obj) {

        $(this).popover({
            html: true,
            content: function () {
                var id = $(this).attr('id')
                return $('#popover-content-' + id).html();
            }
        });

    });
</script>

</body>

</html>