<% include ../../partials/userheader %>
<title>Concert </title>
</head>
<% include ../../partials/usernav %>

<!--- Body --->
<form action="/concert/<%= name %>/showtime/<%= showtime.Concert_ShowTime_ID %>/<%= zone.Zone_Name %>/booking" method="POST">
<div class="container-fluid" style="background: whitesmoke;">
    
        <div class="row">
            <div class="col-4">
                <img src="https://images.unsplash.com/photo-1558930320-8fcc4e3e2a6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    class="img-fluid m-3 mx-5" width="300px" alt="">
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-5 my-3 mx-4" style="color: black;"><strong><%= concertName %></strong></h1>
                        <input type="hidden" value="<%= concertName %>" name="concertName">
                        <hr>
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col-6">
                        <label for="ticketrecieve" class="col col-form-label">Concert Showtime :
                            <%= showtime.Concert_ShowTime %> <%=showtime.Concert_ShowDate %></label>
                        <input type="hidden" value="<%= showtime.Concert_ShowTime %> <%=showtime.Concert_ShowDate %>"
                            name="concertShowtime">
                    </div>
                    <div class="col-6">
                        <label for="ticketrecieve" class="col col-form-label">Venue : <%= venue.Venue_Name %> </label>
                        <input type="hidden" value="<%= venue.Venue_Name %>" name="venueName">
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col-6">
                        <label for="ticketrecieve" class="col col-form-label">Zone : <label
                                for=""><%= zone.Zone_Name %></label> </label>
                        <input type="hidden" value="<%= zone.Zone_ID %>" name="zoneID">
                        <input type="hidden" value="<%= zone.Zone_Name %>" name="zoneName">
                        <input type="hidden" value="<%=zone.Zone_Type %>" name="zoneType">
                    </div>
                    <div class="col-6">
                        <label for="ticketrecieve" class="col col-form-label">Price : <label
                                for=""><%= zone.Zone_Price %></label> </label>
                        <input type="hidden" value="<%= zone.Zone_Price %>" name="zonePrice">
                    </div>
                </div>
            </div>

        </div>
</div>

<% if(zone.Zone_Type == "Standing") { %>
<div class="container my-5">
    <div class="form-group row mx-5 standingzone">
        <label for="zoneseatcapacity" class="col-sm-2 ml-3 col-form-label">Seat Quantity</label>
        <div class="col-sm-5">
            <select class="form-control selectpicker" name="quantity" id="">
                <option>- Select Seat Quantity -</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
            </select>
        </div>
    </div>
    <% } %>
    <% if(zone.Zone_Type == "Seating") { %>
    <div class="form-group row mx-5 my-4 sittingzone">
<div class="col-2"></div>
        <div class="col "><label class="">Zone Seat</label></div>
        <div class="col-10">
                <script>
                        var zoneSeat = [];
                        var bookedSeat = [];
                        var allZoneSeat = JSON.parse('<%-JSON.stringify(seat)%>');
                        var allBookedSeat = JSON.parse('<%-JSON.stringify(bookedSeat)%>');
                        allZoneSeat.forEach(function (item) {
                            zoneSeat.push(item.Seat_Number);
                        });
                        allBookedSeat.forEach(function (item) {
                            bookedSeat.push(item.Seat_Number);
                        });
                        var table = '';
                        var i = 65;
                        var j = 91;
                        for (var r = 0; r < 24; r++) {
                            table += '<tr>';
                            for (var c = 1; c <= 24; c++) {
                                var str = String.fromCharCode(i);
                                if (zoneSeat.includes(c + str)) {
                                    if(bookedSeat.includes(c+str)){
                                        console.log("nO");
                                        table += '<td>' + '<li class="seat">' + '<input type="checkbox" id="' + c +
                                                str + '"' +
                                                'name="zone"' +
                                                'value="' + c + str + '"' + 'disableD/>' +
                                                '<label for="' + c + str + '">' + c + str + '</label>' + '</li>' + '</td>';
                                    }
                                    else{
                                        console.log("ok");
                                        allZoneSeat.forEach(function(item){
                                        if(item.Seat_Number == c+str){
                                            table += '<td>' + '<li class="seat">' + '<input type="checkbox" id="' + c + str + '"' +
                                        'name="zone"' +
                                        'value="' + item.Seat_ID + '"' + '/>' +
                                        '<label for="' + c + str + '">' + c + str + '</label>' + '</li>' + '</td>';
                                        }
                                    });
                                    }
                                    // zoneSeat.forEach(function (zone) {
                                    //     console.log("HO" + zone);
                                    //     if (bookedSeat.includes(zone.Seat_Number)) {
                                    //         console.log("hi");
                                    //     }
                                    // });
                                    
                                } else {
                                    table += '<td style="opacity:0;">' + '<li class="seat">' + '<input type="checkbox" id="' + c +
                                        str + '"' +
                                        'name="zone"' +
                                        'value="' + c + str + '"' + 'disabled/>' +
                                        '<label for="' + c + str + '">' + c + str + '</label>' + '</li>' + '</td>';
                                }
                            }
                            table += '</tr>';
                            i++;
                        }
                        document.write('<table class="table-wrapper" id="table-wrap">' + table + '</table>')
                    </script>
        </div>
    </div>
    <% } %>

</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("button").click(function () {
            var favorite = [];
            $.each($("input[name='zone']:checked"), function () {
                favorite.push($(this).val());
            });
            /*alert("My favourite sports are: " + favorite.join(", "));*/

        });
    });
</script>
<style>
    tr {
        margin: 0%;
    }

    td {
        width: 2em;
        height: auto;
    }

    .table-wrapper {
        width: auto;
        margin: auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

    /*Downloaded from https://www.codeseek.co/siiron/css-seat-booking-MYXZWg */
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }


    .fuselage {
        border-right: 5px solid #d8d8d8;
        border-left: 5px solid #d8d8d8;
    }

    ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .seats {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .seat {
        display: flex;
        flex: 0 0 14.28571428571429%;
        padding: 0px;
        position: relative;
    }

    .seat:nth-child(3) {
        margin-right: 14.28571428571429%;
    }

    .seat input[type=checkbox] {
        position: absolute;
        opacity: 0;
    }

    .seat input[type=checkbox]:checked+label {
        background: #5bff69;
        -webkit-animation-name: rubberBand;
        animation-name: rubberBand;
        animation-duration: 300ms;
        animation-fill-mode: both;
    }

    .seat input[type=checkbox]:disabled+label {
        background: #dddddd;
        text-indent: -9999px;
        overflow: hidden;
    }

    .seat input[type=checkbox]:disabled+label:after {
        content: "X";
        text-indent: 0;
        position: absolute;
        top: 0em;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .seat input[type=checkbox]:disabled+label:hover {
        box-shadow: none;
        cursor: not-allowed;
    }

    .seat label {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 0.8em;
        font-weight: bold;
        line-height: 1.5rem;
        padding: 0;
        background: rgb(255, 126, 249);
        border-radius: 5px;
        animation-duration: 300ms;
        animation-fill-mode: both;
    }

    .seat label:before {
        content: "";
        position: absolute;
        width: 75%;
        height: 75%;
        top: 1px;
        left: 50%;
        transform: translate(-50%, 0%);
        background: rgba(255, 250, 254, 0.459);
        border-radius: 3px;
    }

    .seat label:hover {
        cursor: pointer;
        box-shadow: 0 0 0px 2px #5C6AFF;
    }

    @-webkit-keyframes rubberBand {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        30% {
            -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
        }

        40% {
            -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
        }

        50% {
            -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
        }

        65% {
            -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
        }

        75% {
            -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
        }

        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    @keyframes rubberBand {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        30% {
            -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
        }

        40% {
            -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
        }

        50% {
            -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
        }

        65% {
            -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
        }

        75% {
            -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
        }

        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    .rubberBand {
        -webkit-animation-name: rubberBand;
        animation-name: rubberBand;
    }
</style>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("select").change(function () {
            $(this).find("option:selected").each(function () {
                var optionValue = $(this).attr("value");
                if (optionValue) {
                    $(".box").not("." + optionValue).hide();
                    $("." + optionValue).show();
                } else {
                    $(".box").hide();
                }
            });
        }).change();
    });
</script>
</div>

<div class="container">
        <div class="row">
                <div class="col">
                <div class="col-9">
                        <div class="form-group row mx-5">
                            <label for="staticEmail" class="col-sm-3 col-form-label">Booked Seat</label>
                            <div class="col-sm-5">
                                <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                                    value="email@example.com" name="">
                            </div>
                        </div>
                        <div class="form-group row mx-5">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Ticket Recieving Method</label>
                            <div class="col-sm-3">
                                    <select name="ticketID" id="test" class="form-control selectpicker" data-live-search="true">
                                            <% ticket.forEach(function(item){ %>
                                                <option value="<%=item.Ticket_Receiving_ID %>"><%=item.Ticket_Receiving_Name %></option>
                                                <% }) %>
                                     </select>
                            </div>
                        </div>
                        <div class="form-group row mx-5">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Payment Method</label>
                            <div class="col-sm-3">
                                <select name="paymentID" class="form-control" id="">
                                    <% payment.forEach(function(item){ %>
                                    <option value="<%=item.Payment_ID %>"><%=item.Payment_Name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row  mt-auto">
                            <div class="col-9"></div>
                            <div class="col-3 text-center">
                                <button class="btn btn-primary text-center align-self" type="submit">Submit</button>
                            </div>
            
                        </div>
                </div>
            </div>
            </div>
</div>
<script>
    var test = document.getElementById("test").value;
    console.log(test);
</script>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<!-- Popover -->
<script>
    $("[data-toggle=popover]").each(function (i, obj) {

        $(this).popover({
            html: true,
            content: function () {
                var id = $(this).attr('id')
                return $('#popover-content-' + id).html();
            }
        });

    });
</script>
<!----Selecticker----->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script>
    $(function () {
        $('select').selectpicker();
    });
</script>
<!---- /Selectpicker ----->

</body>

</html>