<% include ../../../partials/header %>
<title>Concert Zone </title>
</head>
<% include ../../../partials/nav %>

<div class="container">
    <div class="jumbotron">
            <div class="row">
                    <div class="col mx-5">
                        <h1 class="display-4 mx-5">Add Concert Zone</h1>
                        <hr>
                        <div class="form-group row mx-4 my-5">
                                <label for="ticketrecieve" class="col-sm-3 ml-5 col-form-label">Search Concert</label>
                                <div class="col-sm-6">
                        <form action="/admin/concert-zone/select" method="POST">
                            <select name="search" id="dropdown" class="form-control selectpicker"
                                data-live-search="true">
                                <option value="" disabled> --Please Select Concert -- </option>
                                <% search.forEach(function(item){ %>
                                    <option value="<%= item.Concert_Name %>" > <%= item.Concert_Name  %> </option>
                                <% }) %>
                            </select>
                            </div>
                        <button class="btn btn-success">Search</button>
                    </div>
                    </div>
                </form>
                </div>


        <% if (showtime && showtime != "none") { %>
        <form action="/admin/concert-showtime/" method="POST">
            <div class="container my-5" id="find">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Concert <b><%= concertName %></b></h2>
                                <input type="hidden" name="concertID" value="<%= showtime.Concert_ShowTime_ID %>">
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Concert Showtime ID</th>

                                <th>Show Date</th>

                                <th>Show Time</th>

                                <th>Seating Plan</th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% showtime.forEach(function(item){ %>
                            <tr>
                                <td>
                                    <label for="concertname"
                                        class="col-sm-2 col-form-label"><%= item.Concert_ShowTime_ID %></label>
                                    <input type="hidden" name="concertShowtimeID"
                                        value="<%= item.Concert_ShowTime_ID %>">
                                </td>

                                <td>
                                    <input name="date" readonly class="form-control" data-date-format="dd/mm/yyyy"
                                        id="datepicker" value="<%= item.Concert_ShowDate %>">
                                </td>

                                <td>
                                    <input name="time" id="timepicker" readonly class="form-control" value="<%= item.Concert_ShowTime %>" />
                                </td>

                                <td>
                                    <img src="<%= item.Concert_ShowTime_Plan%>" style="width: 100%; height: 7em;" alt="">
                                </td>

                                <td>
                                    <div class="col text-center">
                                            <a href="/admin/concert-zone/select/<%= name %>/<%= item.Concert_ShowTime_ID %>" class="badge badge-success">Select
                                                </a>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    
                </div>
            </div>
            <% } else if(showtime == "none") {%>
            <p> This Concert has no showtime, Please Add showtime first to add zone</p>
            <% } %>
    </div>
</div>

<% include ../../../partials/footer %>